body {
    background-color: cornsilk;
    text-align: center;
}

a {
    text-decoration: none;
    
}

.up {
    width:88px; 
    height:118px;
    position:fixed;
    bottom:20px;
    left:50px;
}

header {
    border: 5px solid blue;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

article {
    width: calc(90vw - 10px);
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 1vh;
    background-color: #fff;
    padding: 1vw;
}

.pr {
    width: 300px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
}

.t1 {
    background-image: url(static/desert.jpg);
}

li {
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: green;
    border: 1px solid blue;
    border-radius: 15%;
}

ul {
    list-style-type: none;
}

.navig {
    color: white;
}

.base_menu{
    width: 20vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: calc(-100vw);
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.5s;
}

.btn_menu {
    margin-bottom: 20px;
}

.menu_open {
    left: 0;
}

@media (min-width: 768px) {
    .container {
        flex-direction: column;
    }
    .up {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
}

@media (min-width: 1366px) {
    .base_menu {
        flex-direction: row;
        justify-content: flex-start;
        
    }
}

.d1  {
    color: black;
    transition: 0.5s;
}

.d1:hover {
    color: cornflowerblue;
    transition: 0.5s;
}